<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MENU PRINCIPAL</li>
      <li class="">
        <a href="#!/">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <!-- <li>
        <a href="#!/blank">
          <i class="fa fa-th"></i>
          <span>Pagina en blanco</span>
        </a>
      </li> -->
      <li>
        <a href="#!/maps">
          <i class="fa fa-map"></i>
          <span>Mapa</span>
        </a>
      </li>
      <li>
        <a href="#!/vehicles">
          <i class="fa fa-car"></i>
          <span>Vehiculos</span>
        </a>
      </li>


    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
